* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0px;
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.board {
  width: 105px;
  height: 105px;
  display: flex;
  flex-wrap: wrap;
}

.game {
  display: flex;
}
